body {
    background-color: #b8b4b4;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#menu {
    background-color: #3b3838;
    /*background-color: #0033ff;*/
    /*text-align: center;*/
    /*margin: 0;*/
    width: 100vw;
    height: 30px;

}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*#menu ul li {*/
/*    !*display: inline-block;*!*/
/*}*/

#menu ul li a {
    color: white;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
}
.item-r a:hover {
    float: right;
}

#menu ul li a:hover {
    background-color: #42B881;
}

.item-r {
    float: right;
}

.item-r a {
    color: white;
    display: block;
    padding: 3em .2em;
    text-decoration: none;
}

.float.right {
    float: right;
}

.float.left {
    float: left;
}

.float.center {
    position: absolute;
    left: calc( 47% - 3px);
    text-align: center;
}

