


.fancy-header {
    color: purple;
    text-decoration: underline;
}

h1 {
    text-align:center;
}

h1, h2 {
    color: darkslategrey;
    text-decoration: underline;
}

li {
    list-style-type: none; /* remove default bullet */
}

li:before {
    content: "👉"; /* add new bullet */
}

body { background-color: #F0F8FF;
    font-family: "sans-serif", monospace;
}

footer { background-image: url('https://images.unsplash.com/photo-1670450734728-c4d6f59134f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=700&q=60');
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: "*";
}

table, th, td {
    border: 1px solid;
}

a:link {
    color: #0033ff;
}
a:visited {
    color:black;
}
a:hover {
    color: #0a0a0a;
}
a:active {
    color: #4be34b;
}

td {
    padding: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

tr {
    padding: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
